<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}"
>
<head>
    <meta charset="UTF-8">
    <title>일정 추가</title>
</head>
<div layout:fragment="content">
    <form action="/Schedule/Create" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="일정 제목을 입력하세요">
            <label for="start_date">시작일</label>
            <input type="datetime-local" id="start_date" name="start_date" placeholder="시작일을 입력하세요">
            <label for="end_date">종료일</label>
            <input type="datetime-local" id="end_date" name="end_date" placeholder="종료일을 입력하세요">
            <label for="memo">메모</label>
            <input type="text" id="memo" name="memo" placeholder="추가 메모사항을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</html>