<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>본인 인증하시고, 가입을 완료해주세요!</title>
    <style>
        .custom-button {
            width: 200px;
            height: 60px;
            font-size: 16px; /* 글자 크기 조정 */
}
</style>
</head>
<body>
<header>
    <h1>어서오세요! Teaching Manager 입니다!!</h1>
</header>
<main>
    <div>
        아래의 버튼을 눌러 본인 인증을 완료하고 회원가입을 마무리하세요!
    </div>
    <div>
        <form th:action="@{http://localhost:8080/email/initial/prove(token=${token})}" method="POST">
            <button type="submit" class="custom-button">인증하기</button>
        </form>
    </div>
</main>
<footer>
    그럼 좋은 경험 되시기를 바라겠습니다.
</footer>
<script>

    const value = document.querySelector('.myToken').value;

    const formData = new URLSearchParams();
formData.append('token', myToken);

fetch('/email/initial/prove', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
    },
    body: formData
});
</script>
</body>
</html>